@import url('https://fonts.googleapis.com/css2?family=Manrope:wght@800&display=swap');

.container {
    width: 100vw;
    height: 100vh;
    background-color: #202733;
    display: flex;
    justify-content: center;
    align-items: center;
}

.middlecontainer {
    width: 540px;
    height: 332px;
    background-color: #313A48;
    box-shadow: 30px 50px 80px rgba(0, 0, 0, 0.100202);
    border-radius: 15px;
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    align-items: center;
    padding-top: 30px;


}

.adviceDiv {
    width: 80%;
    height: 200px;
    font-family: 'Manrope';
    font-style: normal;
    font-weight: 800;
    font-size: 28px;
    line-height: 38px;
    text-align: center;
    letter-spacing: -0.3px;
    color: #CEE3E9;
}

.circleDiv {
    width: 64px;
    height: 64px;
    background-color: #53FFAA;
    border-radius: 50%;
    margin-bottom: -32px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.circleDiv:hover {
    background: #53FFAA;
    box-shadow: 0px 0px 40px #53FFAA;
    cursor: pointer;
}

h1 {
    font-family: 'Manrope';
    font-style: normal;
    font-size: 13px;
    line-height: 18px;
    text-align: center;
    letter-spacing: 4.08571px;
    color: #53FFAA;
}

@media (max-width:376px){
    .middlecontainer {
        width: 343px;
        height: 315px;

    
    
    }
    .adviceDiv {
       
        font-size: 24px;

    }
    h1 {

        font-size: 11px;

    }
    .surati{
        width: 295px;
    }
}